<body>
<div class="login-container">
  <div class="logo">
    <h1>Backoffice E-commerce <a routerLink="/login">FRONT OFFICE</a></h1>
  </div>
  <form>
    <div class="input-group">
      <label for="email">Email</label>
      <input type="email" id="email" required placeholder="Votre adresse email">
    </div>
    <div class="input-group">
      <label for="password">Mot de passe</label>
      <input type="password" id="password" required placeholder="Votre mot de passe">
    </div>
    <button class="login-btn"><a routerLink="/gestionuser" style="color: white">Connexion</a></button>
  </form>
  <div class="forgotten-password">
    <a href="#">Mot de passe oublié ?</a>
  </div>
</div>
</body>
